:root {
  --background-image: url('img/background.jpg');
  --primary-bg-color: rgba(0, 0, 0, 0.7);
  --secondary-bg-color: rgba(34, 139, 34, 0.7);
  --text-color: #fff;
  --hover-bg-color: rgba(255, 255, 255, 0.3);

  --input-bg-color: #333;
  --box-shadow-color: rgba(0, 0, 0, 0.5);

  --font-size-large: 1rem;
  --font-size-medium: 0.875rem;
  --font-size-small: 0.75rem;

  --video-width: 70vw;
  --video-max-height: 70vh;
  --nav-width: 20%;
  --content-width: 80%;
  --section-max-width: 90%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  background: var(--background-image) no-repeat center center fixed;
  background-size: cover;
  color: var(--text-color);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.nav {
  background-color: var(--primary-bg-color);
  padding: 1em;
  text-align: center;
  z-index: 1000;
  width: 100%;
  position: sticky;
  top: 0;
}

.nav ul {
  list-style-type: none;
  display: flex;
  gap: 1em;
  flex-grow: 1;
}

.nav-spacer {
  flex-grow: 1;
}

.nav ul li {
  display: flex;
  align-items: center;
}

.nav ul li a,
.nav ul li button {
  text-decoration: none;
  color: var(--text-color);
  padding: 1em;
  transition: background-color 0.3s ease;
  background-color: var(--primary-bg-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.nav ul li a:hover,
.nav ul li button:hover {
  background-color: var(--hover-bg-color);
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

header {
  background-color: var(--secondary-bg-color);
  padding: 1em;
  text-align: center;
}

main {
  background-color: var(--primary-bg-color);
  padding: 1em;
  flex: 1;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: var(--secondary-bg-color);
  padding: 1em;
  text-align: center;
}

video {
  width: var(--video-width);
  height: auto;
  max-height: var(--video-max-height);
  object-fit: cover;
}

section {
  text-align: center;
}

section p {
  max-width: var(--section-max-width);
  margin: 1em 0;
}

form {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--box-shadow-color);
  width: 100%;
  max-width: 300px;
  font-size: var(--font-size-large);
  margin: 0 auto;
}

label {
  display: block;
  margin: 0.5em 0;
}

input[type='text'],
input[type='email'],
input[type='date'],
input[type='time'],
input[type='color'],
input[type='range'] {
  width: 100%;
  padding: 0.5em;
  margin: 0.5em 0;
  border: none;
  border-radius: 5px;
  background-color: var(--input-bg-color);
  color: var(--text-color);
}

input[type='color'] {
  height: 40px;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
}

button {
  width: 100%;
  padding: 1em;
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5em 0;
}

@media (max-width: 1200px) {
  form {
    font-size: var(--font-size-medium);
  }
}

@media (max-width: 768px) {
  form {
    font-size: var(--font-size-small);
  }
}

@media (orientation: landscape) {
  .container {
    flex-direction: row;
  }

  .nav {
    width: var(--nav-width);
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
  }

  .nav ul {
    flex-direction: column;
  }

  .nav ul li {
    width: 100%;
  }

  .nav ul li a,
  .nav ul li button {
    width: 100%;
    text-align: center;
  }

  .content {
    width: var(--content-width);
  }

  main {
    justify-content: center;
    align-items: center;
  }
}
