:root {
  --input-width: 50%;
  --button-width: 20%;
  --map-height: 60vh;
  --map-height-landscape: 60vh;
}

.places {
  padding: 20px;
}

.map-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 20px;
}

.address-input {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.address-input input {
  flex: 1 0 var(--input-width);
  padding: 10px;
  font-size: 1rem;
}

.search-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.search-buttons button {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.search-buttons button:hover {
  background-color: var(--hover-bg-color);
}

.points-list {
  background-color: var(--secondary-bg-color);
  padding: 20px;
  border-radius: 10px;
  color: var(--text-color);
}

.points-list h3 {
  margin-bottom: 10px;
}

.points-list-actions {
  display: flex;
  gap: 2px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.points-list-actions button {
  flex: 0 0 8ch;
  padding: 10px;
  font-size: 0.8rem;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.points-list-actions button:hover {
  background-color: var(--hover-bg-color);
}

.points-list ul {
  list-style-type: none;
  padding: 0;
}

.points-list ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  border: 1px solid var(--primary-bg-color);
  border-radius: 5px;
  margin-bottom: 5px;
}

.points-list ul li span {
  flex: 1;
}

.points-list ul li button {
  flex: 0 0 8ch;
  padding: 5px;
  margin-left: 10px;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.points-list ul li button:hover {
  background-color: var(--hover-bg-color);
}

.map {
  width: 100%;
  height: var(--map-height);
  border: 2px solid var(--primary-bg-color);
  border-radius: 10px;
}

.general-dialog {
  border: none;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: var(--primary-bg-color);
  color: var (--text-color);
  width: 300px;
  max-width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.general-dialog h3 {
  margin-top: 0;
}

.general-dialog label {
  display: block;
  margin: 10px 0 5px;
}

.general-dialog input,
.general-dialog textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
}

.dialog-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  cursor: pointer;
}

.dialog-actions button:hover {
  background-color: var(--hover-bg-color);
}

@media (orientation: landscape) {
  .map-container {
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto;
    gap: 20px;
  }

  .address-input {
    grid-column: span 2;
  }

  .search-buttons {
    grid-column: span 2;
  }

  .points-list {
    order: 1;
    grid-column: 2;
    grid-row: 2;
  }

  .map {
    order: 2;
    grid-column: 1;
    grid-row: 2;
    height: var(--map-height-landscape);
  }

  .points-list ul li {
    flex-direction: row;
  }
}

@media (orientation: landscape) {
  .search-buttons {
    display: flex;
    flex: 1 0 auto;
    gap: 10px;
    justify-content: flex-end;
  }
}
